body{
    background-image: url(IMG_0595.JPG);
    background-size: cover;
}
footer{
    position: fixed;
    bottom: 2%;
    width: 99%;
    text-align: center;
    background-color: rgba(71, 211, 216, 0.658);
}
header{
    border: solid;
    border-style: groove;
}
.header-td2{
    padding-left: 30%;
}
table{
    width: 100%;
}
h2{
    font-family: cursive;
    color: rgba(255, 4, 4, 0.87);
}
#register{
    border-style: groove;
    border-radius: 35%;
    border-color: rgba(0, 0, 0, 0);
}
#login{
    border-style: groove;
    border-radius: 35%;
    border-color: rgba(0, 0, 0, 0);
}

p{
    font-family: cursive;
    margin-left: 5cm ;
    margin-right: 5cm;
}
h3{
    font-family: cursive;
}
button{
    width: 2.5cm;
    height: 10mm;
    border-radius: 3mm;
    background-color: rgba(255, 66, 66, 0.563);
    
}
button a{
    color: rgb(255, 255, 255);
}
.h1{
    font-family: cursive;
    color: #fc046bbd;
}
a{
    color: white;
    font-family: cursive;
}